%main.rules-main
  %h1.rules-title Finals Day
  %section.finals
    %p
      NERGA competitions for Rabbits and Inters culminate in the Grand Finals held in October each year. The best individual players from each club will battle it out for the Individual Championships and the top two teams in each zone will compete for the two Team Championships.
    -# %img.sponsors-logo{alt: "2019 Finals", src: "/2019/ramside.jpg"}/
    %p
      For 2024, the Finals day arrangements are:
      %br/
      Rabbits Finals day at
      %strong
        Barnard Castle GC
        / on
      %strong
        Sunday 15th September 2024
        starting at
      %strong
        9:00
      %br/
      Inter Finals day at
      %strong
        Forest Park GC 
        / on
      %strong
        Sunday 22nd September 2024
        starting at
      %strong
        09:00
    %p
      = link_to "General Information", asset_path("/General-Info-2024-v1.pdf"), target: :_blank
      %br/
      = link_to "Inter Start Sheet", asset_path("/2024-Inter-Finals-Day-Start-Sheet-V4.pdf"), target: :_blank
    /   %br/
    /   = link_to "Rabbits Start sheet", asset_path("/2024-Rabbits-Finals-Day-Start-Sheet-V5.pdf"), target: :_blank
    / / %h4
    /   Inter Results 2024
    / %br/
    / = link_to "Results Inter Individual", asset_path("/2023Inter-Individual-Result.pdf"), target: :_blank
    / %br/
    / = link_to "Results Inter Team", asset_path("/2023Inter-Team-Result.pdf"), target: :_blank
    / %br/
    / = link_to "Photos", "https://www.dropbox.com/scl/fo/mxzingzr0vz5ffqnzez9m/h?rlkey=0rg181pagmacur56vfi4bteis&dl=0", target: :_blank
    / %br/
    / %h4
      Rabbits Results 2024
    %br/
    = link_to "Results Rabbits Individual", asset_path("/2024-Rabbits-Individual-Result.pdf"), target: :_blank
    %br/
    = link_to "Results Rabbits Team ", asset_path("/2024-Rabbits-Team-Result.pdf"), target: :_blank
    / %br/
    / = link_to "Photos", "https://www.dropbox.com/scl/fo/07f6e3hy3rsaxaqy36las/h?rlkey=yq8vz1cknfmqfcn878cd9at82&dl=0", target: :_blank
