%main.rules-main
  %h1.rules-title Finals Day
  %section.finals
    %p
      NERGA competitions for Rabbits and Inters culminate in the Grand Finals held in October each year. The best individual players from each club will battle it out for the Individual Championships and the top two teams in each zone will compete for the two Team Championships.
    -# %img.sponsors-logo{alt: "2019 Finals", src: "/2019/ramside.jpg"}/
    %p
      For 2023, the Finals day arrangements are:
      %br/
      Rabbits Finals day at
      %strong
        Romanby GC
      %strong
        Sunday 1st Oct
        starting at
      %strong
        10:00
      %br/
      Inter Finals day at
      %strong
        Ramside Hall (Cathedral course)
      / on
      %strong
        Sunday 8th October
        starting at
      %strong
        08:30
    %p
      = link_to "General Information", asset_path("/GeneralInfo2023.pdf"), target: :_blank
      %br/
      = link_to "Inter - Provisional Start sheet", asset_path("/2023FinalsDayInter.pdf"), target: :_blank
      %br/
      = link_to "Rabbits - Provisional Start sheet", asset_path("/2023FinalsDayRabbits.pdf"), target: :_blank
    %h4
      Inter Results 2023
    %br/
    =# link_to "Results Inter Individual Competition", asset_path("/2022_Inter_Ind_Result.pdf"), target: :_blank
    -# %br/
    =# link_to "Result Inter Team Competition result", asset_path("/2022_Inter_Team_Result.pdf"), target: :_blank
    -# %br/
    -#= link_to "Result Inter Team Competition (Player scores)", asset_path("/2021-Inter-Team-Players-Results.pdf"), target: :_blank
    -# %br/
    =# link_to "Photos", "https://www.dropbox.com/sh/8f6d3tcg4bprdy8/AAD5jNhcrzYKObOyX-BzAEk8a?dl=0", target: :_blank
    -#
    %h4
      Rabbits Results 2023
    -# %br/
    =# link_to "Results Rabbits Individual Competition", asset_path("/2022-Rabbits-INDIVIDUAL-v1.pdf"), target: :_blank
    -# %br/
    =# link_to "Result Rabbits Team Competition result", asset_path("/2022-Rabbits-Score-Entry_Team-v1.pdf"), target: :_blank
    -# %br/
    -#= link_to "Result Rabbits Team Competition (Player scores)", asset_path("/2021-Rabbits-Score-Team-individual players.pdf"), target: :_blank
    -# %br/
    =# link_to "Photos", "https://www.dropbox.com/sh/ts582jsdhkcemti/AABQKAP5UBuG6-jwdK2YDMuka?dl=0", target: :_blank
