%main.rules-main
  %h1.rules-title Finals Day
  %section.finals

    %p NERGA competitions for Rabbits and Inters culminates in the Grand Finals held at Ramside Hall in October each year. The best individual players from each club will battle it out for the Individual Championships and the top two teams in each zone will compete for the two Team Championships.
    %p We are pleased to announce that we have secured these events for the next three years at RAMSIDE HALL in County Durham.
    %img.sponsors-logo{alt: "2019 Finals", src: "2019Final.jpg"}/
    %h3 The 2021 Finals Days will be held as follows:
    INTERS: Saturday October 2nd from 08:30
    %br
      RABBITS: Saturday October 16th from 08:30
    %br

    %p Players will enjoy a bacon roll and coffee on arrival, a complimentary voucher for the driving range and a two course meal after their game.
    %p The cost is subsidised from the £1 levy charge at each fixture.

