%main.rules-main
  %h1.rules-title Finals Day
  %section.finals
    %p
      NERGA competitions for Rabbits and Inters culminate in the Grand Finals held in October each year. The best individual players from each club will battle it out for the Individual Championships and the top two teams in each zone will compete for the two Team Championships.
    -# %img.sponsors-logo{alt: "2019 Finals", src: "/2019/ramside.jpg"}/
    %p
      For 2025, the Finals day arrangements are:
      %br/
      Rabbits Finals day at
      %strong
        Romanby GC
        / on
      %strong
        Sunday 14th September 2025
        starting at
      %strong
        10:00
      %br/
      Inter Finals day at
      %strong
        Barnard Castle GC
        / on
      %strong
        Sunday 12th October 2025
        starting at
      %strong
        08:30
    %p
    / = link_to "General Information", asset_path("/GeneralInfo2025v1Website.pdf"), target: :_blank
    / %br/
    / = link_to "Inter Start Sheet", asset_path("/2025InterFinalsDayStartSheetV4.pdf"), target: :_blank
    / %br/
    / = link_to "Rabbits Start sheet", asset_path("/2025RabbitsFinalsDayStartSheetV4b.pdf"), target: :_blank
    %h4
      Inter Results 2025
    %br/
    = link_to "Results Inter Individual", asset_path("/2025InterBarnardCastleINDIVIDUAL.pdf"), target: :_blank
    %br/
    = link_to "Results Inter Team", asset_path("/2025InterScoreEntry_BarnardCastleTEAM.pdf"), target: :_blank
    / %br/
    / = link_to "Photos", "https://www.dropbox.com/scl/fo/mxzingzr0vz5ffqnzez9m/h?rlkey=0rg181pagmacur56vfi4bteis&dl=0", target: :_blank
    %br/
    %br/
    %h4
      Rabbits Results 2025
    %br/
    = link_to "Results Rabbits Individual", asset_path("/2025RabbitsRomanbyINDIVIDUALv1.pdf"), target: :_blank
    %br/
    = link_to "Results Rabbits Team ", asset_path("/2025RabbitsScoreEntry_RomanbyTeamv1.pdf"), target: :_blank
    / %br/
    / = link_to "Photos", "https://www.dropbox.com/scl/fo/07f6e3hy3rsaxaqy36las/h?rlkey=yq8vz1cknfmqfcn878cd9at82&dl=0", target: :_blank
