%main.rules-main
  %h1.rules-title Guidance
  %section.finals
    =p
    = link_to "How to complete a Scorecard", asset_path("/guidance/HowtocompleteaScorecardv1.pdf"), target: :_blank
    %br/
    = link_to "Handicap ranges for 2021", asset_path("/guidance/Handicaprangesfor2021v1.pdf"), target: :_blank
    %br/
    = link_to "How to log in to Register Players", asset_path("/guidance/How to log in to Register Players v1.pdf"), target: :_blank
    %br/
    = link_to "How to Register Players", asset_path("/guidance/How to Register Players v1.pdf"), target: :_blank