%main.homepage-main
  %h1.home-title N.E.R.G.A
  %h2.home-tagline North East Rabbits Golf Association
.homepage-section
  %p 2022 NERGA (15 to 28 Handicap Index) has 32 Clubs divided into four zones. Over 550 players will compete as individuals and within their Club team for a place at our Finals Day in October to become NERGA Club and Individual Champions.
  %p In 2015 we launched a mid-handicap league – INTER (7 to 14.9 Handicap Index). For 2021 there are 25 Clubs divided into three zones; all are competing for a place at the Finals day in October.
  %p If you are a Club interested in joining us in 2023 then please contact Iwan Owen before Septempber 2022  – email: iwansliw@yahoo.com or telephone: 07762367617 for further information.