%main.homepage-main
  %h1.home-title N.E.R.G.A
  %h2.home-tagline North East Rabbits Golf Association
.homepage-section
  %p 2021 NERGA (16 to 28 handicap) has 34 Clubs divided into four zones. Over 550 players will compete as individuals and within their Club team for a place in Finals Day at Ramside Hall in October to become NERGA Club and Individual Champions.
  %p In 2015 we launched a mid-handicap league – INTER (8 to 15 handicap). For 2021 there are 26 Clubs divided into three zones; all are competing for a place in the Finals day at Ramside Hall in October.
  %p If you are a Club interested in joining us in 2022 then please contact Iwan Owen before November 2021 – email: iwansliw@yahoo.com or telephone: 07762367617 for further information.
