%main.homepage-main
  %h1.home-title N.E.R.G.A
  %h2.home-tagline North East Rabbits Golf Association
.homepage-section
  %p 2026 NERGA (15 to 28 Handicap Index) has 33 Clubs divided into four zones. Over 550 players will compete as individuals and within their Club team for a place at our Finals Day in September to become NERGA Club and Individual Champions.
  %p In 2015 we launched a mid-handicap league – INTER (7 to 14.9 Handicap Index). For 2026 there are 32 Clubs divided into four zones; all are competing for a place at the Finals day in September.
  %p If you are a Club interested in enterng a Rabbits or Inter team please contact Iwan Owen before Septempber 2025  – email: iwansliw@yahoo.com or telephone: 07762367617 for further information.