%section
  .honour-year-box
    %h2.year 2018
    .inter
      .team
        %h2 INTER Club Championship
        .winner
          Winners - Malton  Norton
        .runner-up
          Runners-up - Dinsdale Spa
      .individual
        %h2 Inter Individual Championship
        .winner
          Winner - Iain Campbell (Bishop Auckland)
        .runner-up
          Runner-up - Jon Bradley (Blackwell Grange)
    .nerga
      .team
        %h2 NERGA Club Championship
        .winner
          Winners - South Moor
        .runner-up
          Runners-up - Thirsk  Northallerton
      .individual
        %h2 NERGA Individual Championship
        .winner
          Winner - Ken Khaira (Houghton LS)
        .runner-up
          Runner-up - Steve Appleyard (Billingham)
  .honour-year-box
    %h2.year 2017
    .inter
      .team
        %h2 INTER Club Championship
        .winner
          Winners - Malton  Norton
        .runner-up
          Runners-up - Dinsdale Spa
      .individual
        %h2 Inter Individual Championship
        .winner
          Winner - Iain Campbell (Bishop Auckland)
        .runner-up
          Runner-up - Jon Bradley (Blackwell Grange)
    .nerga
      .team
        %h2 NERGA Club Championship
        .winner
          Winners - South Moor
        .runner-up
          Runners-up - Thirsk  Northallerton
      .individual
        %h2 NERGA Individual Championship
        .winner
          Winner - Ken Khaira (Houghton LS)
        .runner-up
          Runner-up - Steve Appleyard (Billingham)