%section

  .honour-year-box
    %h2.year 2019
    .inter
      .team
        %h2 INTER Club Championship
        .winner
          Winners - Malton &#38; Norton
        .runner-up
          Runners-up - South Moor
      .individual
        %h2 INTER Individual Championship
        .winner
          Winner - Philip Bladen - Roseberry Grange
        .runner-up
          Runner-up - David Parkinson - Bishop Auckland
    .nerga
      .team
        %h2 RABBITS Club Championship
        .winner
          Winners - Roseberry Grange
        .runner-up
          Runners-up - Malton &#38; Norton
      .individual
        %h2 RABBITS Individual Championship
        .winner
          Winner - Greg Lincoln - Romanby
        .runner-up
          Runner-up - Mick Jenkins - Boldon

  .honour-year-box
    %h2.year 2018
    .inter
      .team
        %h2 INTER Club Championship
        .winner
          Winners - Malton &#38; Norton
        .runner-up
          Runners-up - Dinsdale Spa
      .individual
        %h2 INTER Individual Championship
        .winner
          Winner - Iain Campbell - Bishop Auckland
        .runner-up
          Runner-up - Jon Bradley - Blackwell Grange
    .nerga
      .team
        %h2 RABBITS Club Championship
        .winner
          Winners - South Moor
        .runner-up
          Runners-up - Thirsk &#38; Northallerton
      .individual
        %h2 RABBITS Individual Championship
        .winner
          Winner - Ken Khaira - Houghton LS
        .runner-up
          Runner-up - Steve Appleyard - Billingham

  .honour-year-box
    %h2.year 2017
    .inter
      .team
        %h2 INTER Club Championship
        .winner
          Winners - Malton &#38; Norton
        .runner-up
          Runners-up - Stocksfield
      .individual
        %h2 INTER Individual Championship
        .winner
          Winner - Anthony Blackburn - Ripon City
        .runner-up
          Runner-up - Steve Buxton - Romanby
    .nerga
      .team
        %h2 RABBITS Club Championship
        .winner
          Winners - Malton &#38; Norton
        .runner-up
          Runners-up - Rudding Park
      .individual
        %h2 RABBITS Individual Championship
        .winner
          Winner - Andy Bishop - Richmond
        .runner-up
          Runner-up - Chris Ball - Rudding Park
 
  .honour-year-box
    %h2.year 2016
    .inter
      .team
        %h2 INTER Club Championship
      .winner
        Winners - Ripon City
      .runner-up
        Runners-up - Roseberry Grange
      .individual
        %h2 INTER Individual Championship
      .winner
        Winner - Robert Dove - Hunley Hotel
    .nerga
      .team
        %h2 RABBITS Club Championship
        .winner
          Winners - Roseberry Grange
        .runner-up
          Runners-up - Kirkbymoorside
      .individual
        %h2 RABBITS Individual Championship
        .winner
          Winner - Graham Nealan - Garesfield

  .honour-year-box
    %h2.year 2015
    .inter
      .team
        %h2 INTER Club Championship
      .winner
        Winners - Crook
      .runner-up
        Runners-up - Whitby
      .individual
        %h2 INTER Individual Championship
      .winner
        Winner - Sean O'Brien - Hobson
    .nerga
      .team
        %h2 RABBITS Club Championship
        .winner
          Winners - Malton &#38; Norton
        .runner-up
          Runners-up - Thirsk &#38; Northallerton
      .individual
        %h2 RABBITS Individual Championship
        .winner
          Winner - Chris Nobel - Whitby


  .honour-year-box
    %h2.year NERGA
    .nerga
      .team
        %h2 NERGA Club Championship 2014
        .winner
          Winners - South Moor
      .individual
        %h2 NERGA Individual Championship 2014
        .winner
          Winner - Gareth Sharp - South Moor

    .nerga
      .team
        %h2 NERGA Club Championship 2013
        .winner
          Winners - Kirkbymoorside
      .individual
        %h2 NERGA Individual Championship 2013
        .winner
          Winner - Peter Bollands - Easingwold

  .honour-year-box
    %h2.year NERGA
    .nerga
      .team
        %h2 NERGA Club Championship 2012
        .winner
          Winners - Kirkbymoorside
      .individual
        %h2 NERGA Individual Championship 2012
        .winner
          Winner - Chris Knowles - Kirkbymoorside

    .nerga
      .team
        %h2 NERGA Club Championship 2011
        .winner
          Winners - Darlington
      .individual
        %h2 NERGA Individual Championship 2011
        .winner
          Winner - J.Anderson - Ripon City

  .honour-year-box
    %h2.year NERGA
    .nerga
      .team
        %h2 NERGA Club Championship 2010
        .winner
          Winners - Thirsk &#38; Northallerton
      .individual
        %h2 NERGA Individual Championship 2010
        .winner
          Winner - Steve Chadwin - Darlington
