%main.rules-main
  %h1.rules-title Rules
  %section.constitution
    %h2 Constitution
    %ol
      - t('rules.constitution.').each do |item|
        %li.rule-li
          = item[:rule].html_safe
  %section.match-rules
    %h2 Match Rules
    %ol.rule-ol
      - t('rules.match_rule.').each do |item|
        %li.rule-li
          = item[:rule].html_safe
    %h3 Downloadable Rules
    =link_to"Rules PDF", root_path + 'ConstitutionAndRules2021.pdf', target: "_blank"
