<main class="rules-main">
  <h1 class="rules-title">Rules</h1>
  <section class="constitution">
  <h2>Constitution</h2>
  <ol class="rule-ol">
    <% t('rules.constitution.').each do |item| %>
      <li class="rule-li">
      <%= item[:rule].html_safe %>
      </li>
    <% end %>
  </ol>
  </section>

  <section class="match-rules">
    <h2>Match Rules</h2>
    <ol class="rule-ol">
      <% t('rules.match_rule.').each do |item| %>
        <li class="rule-li">
          <%= item[:rule].html_safe %>
        </li>
      <% end %>
    </ol>
  </section>
</main>