%main.sponsors-main
  %h2.sponsors-title NERGA would like to thank our following sponsors
  %section.sponsors-section
    %img.sponsors-logo{alt: "Sponsor Logo", src: "https://dummyimage.com/640x360/fff/aaa"}/