%main.admin-dashboard
  %h1 Admin Dashboard

  .admin-fixtures
    =link_to "FIXTURES", admin_fixtures_url
  .admin-zones
    =link_to "ZONES", admin_zones_url
  .admin-clubs
    =link_to "CLUBS", admin_clubs_url
  .admin-players
    =link_to "PLAYERS", admin_players_url

