<section>
  <div class="honour-year-box">
    <h2 class="year">2018</h2>
    <div class="inter">
      <div class="team">
        <h2>INTER Club Championship</h2>
      <div class="winner">
        Winners - Malton & Norton
      </div>
      <div class="runner-up">
        Runners-up - Dinsdale Spa
      </div>
    </div>

      <div class="individual">
        <h2>Inter Individual Championship</h2>
        <div class="winner">
          Winner - Iain Campbell (Bishop Auckland)
        </div>
        <div class="runner-up">
          Runner-up - Jon Bradley (Blackwell Grange)
        </div>
      </div>
    </div>

    <div class="nerga">
      <div class="team">
        <h2>NERGA Club Championship</h2>
        <div class="winner">
          Winners - South Moor
        </div>
        <div class="runner-up">
          Runners-up - Thirsk & Northallerton
        </div>
      </div>

      <div class="individual">
        <h2>NERGA Individual Championship</h2>
        <div class="winner">
          Winner - Ken Khaira (Houghton LS)
        </div>
        <div class="runner-up">
          Runner-up - Steve Appleyard (Billingham)
        </div>
      </div>
    </div>
  </div>

  <div class="honour-year-box">
    <h2 class="year">2017</h2>
    <div class="inter">
      <div class="team">
        <h2>INTER Club Championship</h2>
        <div class="winner">
          Winners - Malton & Norton
        </div>
        <div class="runner-up">
          Runners-up - Dinsdale Spa
        </div>
      </div>

      <div class="individual">
        <h2>Inter Individual Championship</h2>
        <div class="winner">
          Winner - Iain Campbell (Bishop Auckland)
        </div>
        <div class="runner-up">
          Runner-up - Jon Bradley (Blackwell Grange)
        </div>
      </div>
    </div>

    <div class="nerga">
      <div class="team">
        <h2>NERGA Club Championship</h2>
        <div class="winner">
          Winners - South Moor
        </div>
        <div class="runner-up">
          Runners-up - Thirsk & Northallerton
        </div>
      </div>

      <div class="individual">
        <h2>NERGA Individual Championship</h2>
        <div class="winner">
          Winner - Ken Khaira (Houghton LS)
        </div>
        <div class="runner-up">
          Runner-up - Steve Appleyard (Billingham)
        </div>
      </div>
    </div>
  </div>

</section>