<main class="links-main">
  <section class="links-section">
    <div class="links-card">
      <a class="links-link " href="/calendar">
        <div class="fab fa-font-awesome-flag"></div>
        <h3>Crook Golf Club</h3>
        <p>DL13 7PX</p>
        <p>www.crookgolfclub.co.uk</p>
      </a>
    </div>

    <div class="links-card">
      <a class="links-link " href="/calendar">
        <div class="fab fa-font-awesome-flag"></div>
        <h3>Crook Golf Club</h3>
        <p>DL13 7PX</p>
        <p>www.crookgolfclub.co.uk</p>
      </a>
    </div>

    <div class="links-card">
      <a class="links-link " href="/calendar">
        <div class="fab fa-font-awesome-flag"></div>
        <h3>Crook Golf Club</h3>
        <p>DL13 7PX</p>
        <p>www.crookgolfclub.co.uk</p>
      </a>
    </div>

    <div class="links-card">
      <a class="links-link " href="/calendar">
        <div class="fab fa-font-awesome-flag"></div>
        <h3>Crook Golf Club</h3>
        <p>DL13 7PX</p>
        <p>www.crookgolfclub.co.uk</p>
      </a>
    </div>

    <div class="links-card">
      <a class="links-link " href="/calendar">
        <div class="fab fa-font-awesome-flag"></div>
        <h3>Crook Golf Club</h3>
        <p>DL13 7PX</p>
        <p>www.crookgolfclub.co.uk</p>
      </a>
    </div>

    <div class="links-card">
      <a class="links-link " href="/calendar">
        <div class="fab fa-font-awesome-flag"></div>
        <h3>Crook Golf Club</h3>
        <p>DL13 7PX</p>
        <p>www.crookgolfclub.co.uk</p>
      </a>
    </div>

    <div class="links-card">
      <a class="links-link " href="/calendar">
        <div class="fab fa-font-awesome-flag"></div>
        <h3>Crook Golf Club</h3>
        <p>DL13 7PX</p>
        <p>www.crookgolfclub.co.uk</p>
      </a>
    </div>

    <div class="links-card">
      <a class="links-link " href="/calendar">
        <div class="fab fa-font-awesome-flag"></div>
        <h3>Crook Golf Club</h3>
        <p>DL13 7PX</p>
        <p>www.crookgolfclub.co.uk</p>
      </a>
    </div>

  </section>
</main>