<main class="sponsors-main">
  <h2 class="sponsors-title">NERGA would like to thank our following sponsors</h2>
  <section class="sponsors-section">
    <img class="sponsors-logo" src="https://dummyimage.com/640x360/fff/aaa" alt="Sponsor Logo">
  </section>
</main>