-#= form_for @team_sheet, url: user_team_sheets_path(@team_sheet) do |f|
= hidden_field :club_id, value: current_user.club.id
= hidden_field :fixture_id, value: @fixture.id
-#  = f.label :player_1
-#  = f.select(:player_1, @players.all.collect {|p| [ p.first_name + ' ' + p.surname, p.first_name+ ' ' + p.surname ] }, include_blank: "Anything!")
-#  = f.submit 'Save'

%matthew{":players" => @players.to_json,":team_sheet" => @team_sheet.to_json(except: [ :created_at, :updated_at]),":fixture" => @fixture.id.to_json,":club" => current_user.club_id}

