%section.zone-header
  = render "zones/header"

%section.fortnight
  %h1 Upcoming Fixtures
  - @next_fixtures.each do |fixture|
    = render "zones/upcoming", fixture: fixture


%section.fixtures
  - @fixtures.each do |fixture|
    = render "zones/fixture", fixture: fixture



