/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navigation {
    display: none;
}

.navigation--open {
    display: block;
    grid-column: span 2;
}

.navbar-nav {
    display: grid;
    text-align: center;
}

.nav-item {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.35rem;
}

.nav-link {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.nav-dropdown-item:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .button {
        display: none;
    }

    .navigation {
        display: grid;
        width: 100%;
    }

    .navbar-nav {
        display: grid;
        grid-template-columns: repeat(8, 1fr) 2fr;
        text-align: center;
        align-content: center;
    }


    .nav-item,
    .nav-link {
        margin-bottom: 0;
        font-size: inherit;
    }

    .nav-dropdown {
        border-top: 10px solid #38393a;
        position: absolute;
        transition: all 0.5s ease;
        display: none;
        background-color: #2E2F30;
        padding-top: 10px;
        width: 100%;
    }

    .dropdown-trigger:hover + .nav-dropdown,
    .nav-dropdown:hover {
        opacity: 1;
        display: block;
    }

    .nav-dropdown-item{
        padding: 10px;
    }
}

.login-main {
    background: #e2e2e2;
    text-align: center;

}
.login-main h2 {
    padding: 10px;
    background-color: #38393a;
    font-weight: bolder;
}
.login-main .field{
    padding: 10px;
}

a:visited {
    
}

@media only screen and (min-width: 600px) {
    .login-main {
        margin: 40px 190px;
    }
}
.player {
  text-align: center;
  padding: 10px;
}
