/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import "vars";

body {
  background-color: $bg_colour;
  font-family: 'Open Sans', sans-serif;
}

p, li {
  margin: 0 0 10px;
}

a{
  text-decoration: none;
  color: $font_primary_color;
}

a:hover {
  color: $third_colour;
}

h1{
  font-size: 3em;
  padding-bottom: 10px;
  color: $third_colour;
}
h2{
  color: $third_colour;
  font-size: 1.75em;
  margin: 10px 0px;
}

h3 {
  font-size: 1.50em;
  padding-bottom: 10px;
}
header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 20px 1fr;
  grid-template-columns: 120px 1fr;
  grid-gap: 20px;
  //height:140px;
  padding: 0 20px;
  background-color: $secondary_colour;
}

.notice, .alert {
  p{
    margin: 0 0 0 0;
  }
}


.logo{
  max-height: 120px;
  padding: 10px;
}

.homepage-main{
  background-size: contain;
  background: url(asset_path('bg.png')) no-repeat center center;
  height: calc(100vh - 344px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-flex-line-pack: end;
  align-content: end;
}

.home-title{
  color: white;
  font-size: 5rem;
  margin-left: 20px;
  margin-top:40px;
}
.home-tagline{
  color: white;
  margin-bottom:30px;
  margin-left:20px;
}

.homepage-section{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  background-color: $bg_colour;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: $secondary_colour;
  padding: 20px;
  -ms-flex-line-pack: center;
  align-content: center;
  p{
    padding: 10px;
    line-height: 1.5rem;
    color: $font_primary_color;
    background: $secondary_colour;
  }
}

@media only screen and (min-width: 600px) {
  .homepage-section {
    display: -ms-grid;
    -ms-grid-columns: 1fr  1fr  1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  p {
    &:nth-child(0) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
    &:nth-child(1) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
    &:nth-child(2) {
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }
  }
  .home-title, .home-tagline{
    margin-left:40px;
  }
}


footer{
  height: 20px;
  text-align: right;
  margin-right: 20px;
  color: $third_colour;
}

.rules-main {
  margin:20px;
}
.rules-title {
  text-align: center;
}

.constitution, .match-rules, .finals{
  background-color: white;
  color: $secondary_colour;
  margin-bottom:40px;
  padding: 20px;
  h2{
    text-align: center;
    background-color: $secondary_colour;
    padding: 20px;
  }
}

.finals{
  text-align: center;
  font-size: 1.5rem;
}
.rule-li {
  list-style: disc inside none;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.rule-ol {
  list-style-type: circle;
  //counter-reset: my-awesome-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  li {
    list-style: square outside none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  //li::before {
  //  content: "0" counter(my-awesome-counter);
  //  font-weight: bold;
  //  font-size: 3rem;
  //  margin-right: 0.5rem;
  //  color: $third_colour;
  //  font-family: 'Abril Fatface', serif;
  //  line-height: 1;
  //}
}

@media only screen and (min-width: 900px) {

  .constitution, .match-rules {
    margin: 40px 190px;
    h2{
      margin-bottom: 30px;
    }
  }
}

.links-section{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1,1fr);
  margin-top: 20px;
}

.links-card {
  display: -ms-inline-grid;
  display: inline-grid;
  background-color: $secondary_colour;
  text-align: center;
  border: 1px dashed $bg_colour;
  margin-bottom: 20px;


  .fab {
    color: $third_colour;
    font-size: 1.25em;
    padding: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .links-section{
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
  }
  .links-card {
    margin: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .links-section{
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
  }
  .links-card {
    margin: 20px;
  }
}

.honour-year-box{
  background-color: white;
  padding:10px;
  margin:10px;
}
.year{
  background-color: $secondary_colour;
  font-weight: bolder;
  text-align: center;
}
.nerga, .inter {
  text-align: center;
}

.winner{
  font-weight: bold;
  padding: 10px;
}
.runner-up{
  padding: 10px;
  font-style: italic;
  font-size: .90em;
}

@media only screen and (min-width: 900px) {
  .honour-year-box{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    padding: 20px;
    border: 1px dashed $bg_colour;
  }
  .year {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
}


.sponsors-main{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
}
.sponsors-section{
  margin: 10px;
  img{
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .sponsors-section {
    margin: 20px;
  }
}
